extends layout.pug
block body
    div(class="parcours")
        h2(style="text-align: center;") Parcours 2023
        img(src="/images/TDF2023Carte.png" style="display: block; margin-left: auto; margin-right: auto; width: 651.5px; height: 814px;")
        h5= "Total : " + nbKm + " km"
        hr

        div(class="align-content-center")
            table(style="display: block ruby; margin-left: auto; margin-right: auto;" cellpadding="15")
                thead(style="text-align: center; background-color: black; color: white;")
                    tr
                        th Étape
                        th Type
                        th Date
                        th Départ et arrivée
                        th Distance
                        th Détails

                tbody(style="text-align: center; background-color: white;")
                    each etape in etapes
                        tr(style="background-color: gray;")
                            td= etape.libelle_etape
                            td= etape.type_etape
                            td= etape.date_etape
                            td= etape.villes
                            td= etape.longueur + " km"
                            td
                                a(href=`/etapes/etape-${etape.id_etape}` class="btn btn-sm btn-outline-dark align-content-center" data-bs-toogle="button")= etape.libelle_etape

                        each jour in repos
                            if etape.id_etape === 9 + 6*(jour.id_repos - 1)
                                tr(style="background-color: orange;")
                                    td
                                    td= jour.libelle_repos
                                    td= jour.date_repos
                                    td= jour.ville_repos
                                    td
                                    td
                                        a(href=`/repos/repos-${jour.id_repos}` class="btn btn-sm btn-outline-dark align-content-center" data-bs-toogle="button")= "Repos " + jour.id_repos

        hr
        div(class="details-carte")
            h2 Carte
            a Deux pays : L'Espagne et bien sûr la France figureront sur la carte du Tour de France en 2023.
            br
            br
            a Pour la deuxième fois de l'histoire de la Grande Boucle, 2 étapes seront tracées entièrement dans la péninsule hibérique. La première fois en 1992 avec un prologue et une étape en ligne à San Sebastian
            br
            a Dans l’Hexagone, 5 Régions et 24 départements seront visités.
        hr

        div(class="details-etape")
            h2 Étapes
            a Elles seront au nombre de 21 :
            ul(style="list-style: square;")
                li 7 étapes de plaine
                li 6 étapes accidentées avec 2 arrivées en côte (Chastreix-Sancy et Saint-Flour)
                li 6 étapes de montagne avec 5 arrivées en altitude (Piau-Engaly, Plateau de Beille, Col de Mantet, Val-Cenis et La Plagne)
                li 1 étape contre la montre en individuel
                li 1 étape contre la montre par équipes
                li 2 journées de repos

        hr
        div(class="calendar")
            h2 Calendrier
            a Le Tour 2022 s’élancera le samedi 1er juillet pour aller vers le Sud-Ouest de la France après les trois jours du Grand Départ dans le Pays Basque.
        hr

        div(class="new-sites")
            h2 Bienvenue...
            a aux 13 nouveaux sites ou villes-étapes qui accueilleront le Tour pour la première fois :
            ul(style="list-style: square;")
                li Bilbao (départ et arrivée 1re étape)
                li Amorebieta-Etxano (départ 3e étape)
                li Saibt-Geours-de-Marenne (départ 4e étape)
                li Cap Ferret (arrivée 4e étape)
                li Chastreix-Sancy (arrivée 7e étape)
                li Cournon-d'Auvergne (départ 8e étape)
                li Murat (arrivée 9e étape)
                li Laguiole (départ 10e étape)
                li Salies-du-Salat (départ 13e étape)
                li Col de Mantet (arrivée 15e étape)
                li Valensole (départ 17e étape)
                li Val-Cenis (arrivée 19e étape)
                li Maurepas (départ 21e étape)

        hr
        div(class="massifs")
            h2 Massifs
            a Massif central, Pyrénées, Alpes. Ce seront dans cet ordre les trois massifs au programme de cette 110e édition. Avec plusieurs découvertes :
            ul(style="list-style: square;")
                li La montée de Chastreix-Sancy (1 396 m) dans le Puy-de-Dôme
                li Le col du Légal (1230 m) dans le Cantal
                li Le Col de Mantet (1761 m) dans les Pyrénées-Orientales
                li La Montagne de Lure (1744 m) dans les Alpes-de-Haute-Provence
                li La montée vers Val-Cenis (Bellecombe, 2308 m) dans le département de la Savoie

        hr
        div(class="chronos")
            h2 Chrono
            a 53 km, ce sera la distance totale des deux contre-la-montre du Tour 2023 :
            a 25,5 km en équipe lors de la cinquième étape autour de Royan
            a puis 27,5 km en individuel à l’occasion de la dix-huitième étape autour d'Embrun.

        hr
        div(class="bonifs")
            h2 Bonifications
            a Elles seront distribuées à l’arrivée de chaque étape en ligne et attribueront respectivement 10, 6 et 4 secondes aux trois premiers coureurs classés mais également au sommet de certaines difficultés de cette édition, à des endroits stratégiques.